<div class="m-2">
  <h2>Les pokémons</h2>
  <h3>{{ nbPokemon }} pokémons dans la base de données</h3>
  <div class="grid grid-cols-3 gap-4">
    @for (item of pokemons; track item) {
      <div class="relative">
        <div class="border border-gray-200 rounded-lg p-4 flex flex-col items-center">
          <h3 class="text-lg font-bold mb-2">{{ item.name | titlecase }}</h3>
          <img [src]="item.sprites.front_default" [alt]="item.name">
          <p class="mb-1">Taille : {{ item.height / 100 }} m</p>
          <p class="mb-1">Poids : {{ item.weight / 100 }} kg</p>
        </div>
      </div>
    }
  </div>
</div>
